<div class="container">
    <div>
        {{#each data}}
        <h1>Type: {{type}}</h1>
        <br>
        <h4>Category: {{category}}</h4>
        <p>Date: {{date}}</p>
        <p>Amount: {{amount}}</p>
        <p>Memo: {{memo}}</p>
        <hr>
        {{/each}}
    </div>
</div>
<script src="js/index.js"></script>